@mixin md{
  @media screen and (min-width:1200px) {
    @content  ;
  }
}
@mixin sm{
  @media screen and (max-width:550px) {
    @content  ;
  }
}
.navstyle{
  transition: all 0.3s;
  cursor: pointer;
}
.navstyle:hover{
  box-shadow: 0px 2px 13px 8px rgba(99, 98, 98, 0.879);
}

/* Search portion */
.searchbarpos{
  display: flex;
  justify-content: space-between;
  @include sm{
    margin-right: 10000px;
    justify-content: start;
    align-items: start;
  }
}
.searchbackground{
  background-color: #59749899 !important;
  .search{
    font-size: 15px;
    outline: none;
    border: none;
    width: 200px;
    margin-top: 14px;
    background-color: transparent;
    color: #efd2f8;
    &::placeholder{
      color: rgba(240, 248, 255, 0.849);
    }
    @include md{
      width: 400px;
    }
  }
}


/* product category sidebar */
.Catagory{
  margin: 5px 5px;
  border-radius: 20px;
  outline: none;
  border: none;
  transition: all 0.3s;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor:pointer;
  background: transparent;
}
.Side_container::-webkit-scrollbar{
  display: none;
}
.Catagory:hover{
  background-color: rgba(220, 20, 60, 0.452) !important;
}


.Videos{
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  justify-content: center !important;
  align-items: center !important;
}
.Video{
  transition: all 0.3s !important;
  /* border-radius: 20px !important; */
}

.Video:hover{
  transform: scale(1.07);
}
.chHover{
  transition: all 0.3s !important;
  }
  .chHover:hover{
  transform: translate(1.07) !important;
  }
.Scroll::-webkit-scrollbar{
display: none;
}
.thumbnail{
  background-size: cover !important;
  object-fit: cover;
}
.vidcardbackground{
  background-color: #04152dd6;
}
.Subtitles{
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  text-overflow: ellipsis !important;
  width: 380px;
  color: rgb(188, 236, 236) !important;
  text-decoration-style: none !important;
}
.Subtitle2{
  color: rgba(255, 248, 239, 0.74) !important;
  text-decoration: none !important;
}

.react-player{
  width: 58.5vw !important;
  height: 71vh !important;
  margin-top: 40px !important;
  margin-left: 40px !important;
  box-shadow: 10px 10px 50px 15px rgba(130, 115, 115, 0.879);
  border: 2px solid rgba(226, 205, 43, 0.395) !important;
  outline: none;

}

.titlesim{
  margin-left: 5px !important;
  font-size: 25px !important;
  text-shadow: 2px 2px 5px rgba(193, 127, 250, 0.459) !important;
  background: -webkit-linear-gradient(#28fa39, #dfaef0) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  transition: all 0.5s;
  @include sm{
  opacity: 0;
  }
}
.hide{
  margin-left: -50px !important;
  font-size: 25px !important;
  text-shadow: 2px 2px 5px rgba(193, 127, 250, 0.459) !important;
  background: -webkit-linear-gradient(#28fa39, #dfaef0) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  opacity: 0;
  transition: all 0.5s;
}
.logoo{
  width:80px !important;
  height:60px !important;
  padding-top:29px !important;
  transition: all 0.5s;
}
.logoright{
  margin-left: 35px;
  width:90px !important;
  height:65px !important;
  padding-top:27px !important;
  transition: all 0.5s;
}


/* For Loading Skaliton */

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
          90deg,
          rgba(#193763, 0) 0,
          rgba(#193763, 0.2) 20%,
          rgba(#193763, 0.5) 60%,
          rgba(#193763, 0)
      );
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}



.Sclitems{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;

.loadingSkeleton {
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0 20px;
  .skeletonItem {
      width: 310px;
      flex-shrink: 0;
      
      .posterBlock {
          border-radius: 12px;
          width: 100%;
          aspect-ratio: 1 / 1.5;
          margin-bottom: 30px;
          height: 250px;
      }
      .Detail {
          display: flex;
          flex-direction: column;
          .Title {
              width: 100%;
              height: 20px;
              margin-bottom: 10px;
          }
          .date {
              width: 75%;
              height: 20px;
          }
      }
  }
}
}

.ChContainer{
  background: rgba(6, 3, 7, 0.616) !important;
  position: relative !important;
  .backdropCh{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;

  }
}
.chmargin{
  padding-top: 250px;
}

.chskl{
  position: absolute;
  width:200px;
  height:200px;
  border-radius:50%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.detailbackground{
  background-color: #090f17 !important;
}


